<!-- About Section -->
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h1 class="text-white mt-0">Who Are We?</h1>
                <hr class="divider light my-4">
                <p class="text-white-75 mb-4">
                    <%- aboutUsBodyStarting %>
                    <% for (var i = 0; i < charitiesAndLink.length - 1;  i++ ) { %>
                        <a class="about-us-links"
                           href="<%= charitiesAndLink[i].charityLink %>"> <%= charitiesAndLink[i].charityName %></a><%= charitiesAndLink[i].additionText %>,
                    <% } %>
                    <!-- Print out the last charity-->
                    and <a class="about-us-links"
                           href="<%= charitiesAndLink[charitiesAndLink.length - 1].charityLink %>"> <%= charitiesAndLink[charitiesAndLink.length - 1].charityName %></a><%= charitiesAndLink[i].additionText %><%= aboutUsBodyEnding %>
                </p>
            </div>
        </div>
    </div>
</section>