<!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="mt-0">Maps & Info</h1>
                <hr class="divider my-4">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 ml-auto col-sm-12">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe id="googleMapFrame" class="embed-responsive-item"
                            src="https://maps.google.com/maps?q=Midland%20Community%20Farmers%20Market%209110%20Warm%20Springs%20Rd%2C%20Midland%2C%20GA%2031820%2C%20United%20States&t=&z=15&ie=UTF8&iwloc=&output=embed"></iframe>
                </div>
            </div>
            <div class="col-lg-6 m-auto col-sm-12 d-inline-block">
                <h3 class="mt-4 ml-2"><%- contact.contactAddress%></h3>
                <h5 class="text-muted ml-2"><%= contact.contactAddressSub%></h5>
                <p class="text-muted ml-2">
                    <br>
                    <b>From Columbus:</b><br>
                    <%= contact.contactFromColumbus%><br><br>
                    <b>From Warm Springs or Waverly Hall:</b><br>
                    <%= contact.contactFromWarmSprings%>
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
                <hr class="my-4">
            </div>

            <a class="col-lg-4 text-center mb-5 mb-lg-0" href="mailto:<%= contact.contactEmail%>">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <!-- Make sure to change the email address in anchor text AND the link below! -->
                <div class="d-block"><%= contact.contactEmail%></div>
            </a>

            <a class="col-lg-4 text-center mb-5 mb-lg-0"
               href="https://www.facebook.com/Midland-Community-Farmers-Market-584202175008593/">
                <i class="fab fa-facebook-square fa-3x mb-3 text-muted"></i>
                <div>Follow us on Facebook</div>
            </a>

            <a class="col-lg-4 text-center mb-5 mb-lg-0"
               href="https://www.tripadvisor.com/Attraction_Review-g35111-d10367286-Reviews-Midland_Community_Farmers_Market-Midland_Georgia.html">
                <i class="fab fa-tripadvisor fa-3x mb-3 text-muted"></i>
                <div>Find us on Tripadvisor</div>
            </a>

        </div>
    </div>
</section>
