<!-- Bring Your Stuff Section -->
<section class="page-section" id="whats-available">
    <div class="container">
        <h1 class="text-center mt-0"><%= whatsAvailable.whatsAvailableTitle %></h1>
        <hr class="divider my-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-carrot text-primary mb-4"></i>
                    <h3 class="h4 mb-2"><%= whatsAvailable.item1Title %></h3>
                    <p class="text-muted mb-0"><%= whatsAvailable.item1SubText %></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-bread-slice text-primary mb-4"></i>
                    <h3 class="h4 mb-2"><%= whatsAvailable.item2Title %></h3>
                    <p class="text-muted mb-0"><%= whatsAvailable.item2SubText %></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-tools text-primary mb-4"></i>
                    <h3 class="h4 mb-2"><%= whatsAvailable.item3Title %></h3>
                    <p class="text-muted mb-0"><%= whatsAvailable.item3SubText %></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-seedling text-primary mb-4"></i>
                    <h3 class="h4 mb-2"><%= whatsAvailable.item4Title %></h3>
                    <p class="text-muted mb-0"><%= whatsAvailable.item4SubText %></p>
                </div>
            </div>
        </div>
    </div>
</section>